/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: #C2E1C2; 
}

/* STYLE TEXT */

h1 {
   color: #034732;
   font-family: "Sansation", sans-serif;
   font-size: 50px;
   text-align: center;
   background-color: #ddeedd;
   padding: 1em;
   margin: 1em;
   border-width: 2px;
   border-style: dashed;
   border-color: #034732;
}

h2 {
   color: #034732;
   font-family: "Nata Sans", sans-serif;
   font-size: 35px;
   text-align: center;
   background-color: #ddeedd;
   padding: 0.5em;
   margin: 1em;
   border-width: 2px;
   border-style: dashed;
   border-color: #034732;
}

h3 {
   color: #f1f9f6;
   font-family: "Rammetto One", sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: #034732;
   padding: 1em;
   margin: 1.2em;
   letter-spacing: 2px;
}

h4 {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   font-style: bod;
   margin: 1em;
   text-align: center;
}

.list {
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   margin: 3em;
   padding: 4px;
}

p {
   font-family: "Montserrat", sans-serif;
   font-size: 17px;
   margin: 1em;
   text-align: center;
}

/* STYLE IMAGES */

.homeImages {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
}

.home {
   display: flex;
   justify-content: center; 
}

.about {
   display: flex;
   justify-content: center; 
}

.animals {
   border-color:#034732;
   border-width: 5px;
   border-radius: 50%;
   border-style: solid;
   Max-width: 30%; 
   height: auto;
   text-align: center;
   padding: 4px;
   margin: 4px;
}

.takeAction {
   display: flex;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

.whyImages {
   display: flex;
   justify-content: center;
   margin: 2em;
}

.takeActionImages {
   border-color:#034732;
   border-width: 5px;
   border-radius: 50%;
   border-style: solid;
   width: 30%;
   height: auto;
   text-align: center;
   padding: 4px;
   margin: 1em;
}

/* STYLE NAV BAR */

.navBar {
  list-style-type: none;
  background-color: #034732;
  overflow: hidden;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
   text-align: center;
}

.navBar li {
   display: inline;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  padding: 1em;
  font-family: "Nata Sans", sans-serif;
  font-weight: bold;
}

li a:hover {
  background-color: #039b29
}

/* STYLE BUTTONS */

#factButton {
   background-color: #ddeedd;
   border-style: solid;
   border-color: #034732;
   border-width: 1.7px;
   color: black;
   font-family: "Nata Sans", sans-serif;
   font-size: 16px;
   padding: 0.7em;
   margin: 2px;
   text-align: center;
   font-style: bold;
}

.generateFact {
   text-align: center;
}

#factButton:hover {
   background-color: #034732;
   color: white;
   border-color: black;
}

/* ADD MORE! */

#fact {
   color: #03875d;
   font-family: "Rammetto One", sans-serif;
   font-size: 20px;
   text-align: center;
   background-color: #ddeedd;
   padding: 0.5em;
   margin: 1em;
   border-width: 1.7px;
   border-style: solid;
   border-color: #034732;
}

#attribute {
   font-size: 14px;
}

.imageContainer {
   position: relative;
   width: 250px;
   height: 250px;
   border: 5px solid #034732;
   border-radius: 50%;
   overflow: hidden;
   margin: 1em;
}

#deforestation {
  display: block;
}

#construction {
  display: block;
}

#pollution {
  display: block;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: 0.5s ease;
   background-color: rgba(3, 71, 50, 0.8);
   border-radius: 50%;
}

.imageContainer:hover .overlay {
   opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
   font-family: "Nata Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
